<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Accordion 折叠面板</title>
		<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/icon.css">
		<script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
	</head>
	<!--
		1.通过标记创建折叠面板（Accordion），
		    添加 'easyui-accordion' class 到 <div> 标记。
		2.Accordion容器选项
		  widht:折叠面板（Accordion）容器的宽度;
		  height:折叠面板（Accordion）容器的高度;
		  fit:   设置为 true，就使折叠面板（Accordion）
		                    容器的尺寸适应它的父容器。默认值false;
		3.面板（Panel）选项
		  折叠面板（Accordion）的面板（panel）选项继承自面板（panel）；
		  selected:设置为 true 就展开面板（panel）。
		
		  
		
		  
	-->
	<body>
		<div id="aa" class="easyui-accordion" style="width:300px;height:200px;">
		    <div title="Title1" data-options="iconCls:'icon-save'" style="overflow:auto;padding:10px;">
				<h3 style="color:#0099FF;">Accordion for jQuery</h3>
				<p>Accordion is a part of easyui framework for jQuery.
				It lets you define your accordion component on web page more easily.</p>
		    </div>
		    <div title="Title2" data-options="iconCls:'icon-reload',selected:true" style="padding:10px;">
				content2
		    </div>
		    <div title="Title3">
				content3
		    </div>
		</div>
	</body>
</html>
