<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>布局 Tabs</title>
		<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/icon.css">
		<script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
        
	</head>
	<!--
    	1、通过标记创建标签页（Tabs）;
    	2.Tabs常用属性
    	  widht:标签页（Tabs）容器的宽度;
    	  height:标签页（Tabs）容器的高度;
    	3.标签页面板（Tab Panel）
    	  iconCls:显示在标签页面板（tab panel）
    	  		    标题上的图标的 CSS class
    	  closable：当设置为 true 时，标签页面板（tab panel）
    	                         将显示一个关闭按钮,点击它就能关闭这个标签
    	                         页面板（tab panel）;默认值false;
    -->
	<body>
		<div id="tt" class="easyui-tabs" style="width:500px;height:250px;">
		    <div title="Tab1" style="padding:20px;display:none;">
				tab1
		    </div>
		    <div title="Tab2" data-options="closable:true" style="overflow:auto;padding:20px;display:none;">
				tab2
		    </div>
		    <div title="Tab3" data-options="iconCls:'icon-reload',closable:true" style="padding:20px;display:none;">
				tab3
		    </div>
		</div>
	</body>
</html>
