body{
	color:#1a1a1a;
	font-size: 15px;
	background: #f6f6f6;
	
}
body, button, p{
	margin: 0;
}
ul,ol,li,div,dl,dt,dd{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{  
	color: inherit;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font: inherit;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
em{
	font-weight: bold;
	font-style: normal;
}
strong{
	color:#0084FF ;
}
i{
	font-style: normal;
	color: #0084FF;
	font-weight: 500;
}
/**
 * header
 */
.header{
	background: #fff;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.header-wrapper{
	
}
.header-inner{
	height: 52px;
}
.logo-wrap{
	display: inline-block;
	vertical-align: middle;
}
.tabs{
	display: inline-block;
}
.tabs-item{
	display: inline-block;
	padding: 0 17px;
	height: 52px;
	line-height: 52px;
}
.tabs-link{
	display: inline-block;
	position: relative;
	padding: 14px 0;
	color: #1A1A1A;
	font-size: 16px;
	line-height: 22px;
}
.header-tabsLink{
	color: #8590a6;
	font-size: 15px;
}
.header-tabsLink:hover{
	color: #444;
}
.tabs-link.is--active{
	color: #444;
	font-weight: bold;
}
.tabs-link.is--active:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
    background: #0084ff;
    height: 3px;
}
.searchBar{
	display: inline-block;
}
.searchBar-toolWrapper{
	
}
.searchBar-tool{}
.popover{
	position: relative;
}
.input-wrapper{
  display: inline-block;
  width: 180px;	
  height: 34px;
  border: 1px solid #ebebeb;
  border-radius:3px;
  box-sizing: border-box;
  padding: 4px 10px;
  font-size: 14px;
  background: #fff;
}
.input-wrapper--grey{
	background: #f6f6f6;
}
.searchBar-input{
	width: 326px;
	padding-left: 12px;
	padding-right: 0;
}
.input{
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	background: transparent;
}
input.input{
	color: #1a1a1a;
    width: 256px;
    height: 24px;
    line-height: 24px;
}
button{
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	outline: none;
}
.button{
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	color: #8590a6;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
.searchBar-searchButton{
	background: transparent;
	border-color: transparent;
	padding: 0 12px;
	position: absolute;
    top: 0;
    right: 0px;
    height: 32px
}
.search-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/travel/search_icon.png)no-repeat;
	background-position: center center; 
	position: absolute;
	top: 9px;
	right: 9px;
}

.header-userinfo{
	float: right;
}
.header-notifications{
	display: inline-block;
	margin-right: 40px;
}

.button--plain{
	height: auto;
	padding: 0;
	line-height: inherit;
	background: transparent;
	border: none;
	border-radius: 0;
}
.pushNotifications_btn{
	position: absolute;
	top: -20px;
}
.message-icon{
	display: inline-block;
	background: url(../img/travel/message_icon.png) no-repeat;
	width: 16px;
	height: 16px;	
}
.pushNotifications-count{
	display: inline-block;
	border-radius:20px;
	font-size: 11px;
	color: #fff;
	background: #f1403c;
	position: absolute;
	left: 50%;
	bottom:50%;
	border: 2px solid #fff;
	padding: 0 4px;
}
.header-profile{
	display: inline-block;
	position: relative;
}
.avatar_btn{
	padding: 9px 0;
}
.avatar{
	border-radius: 50px;
}
.popover-content{
	display: none;
	width: 140px;
	position: absolute;
	left: -60px;
	background: #fff;
	border: 1px solid #ebebeb;
	box-shadow: 0 5px 20px rgba(26,26,26,0.1);
	margin-top: 5px;
	
}
.popover-arrow:before{
	content: "";
    display: block;
    border: 8px solid transparent;
    border-bottom-color:#fff ;
    position: absolute;
    margin-left: -5px;
    left: 50%;
    top: -16px;
    width: 0;
    height: 0;
    line-height: 0;
   
	
}
.menu{
	padding: 6px 0;
}
.headerprofileMenu{}
.menu_item{
	width: 100%;
	display: block;
	padding: 0 20px;
	cursor: pointer;
	box-sizing: border-box;
}
.headerprofileMenu_item{
	height: 36px;
}
.menu_item.is--active{
	background: #f6f6f6;
}
.menu_item span{
	display: inline-block;
	margin-right: 6px;
}
.icon{
    display: inline-block;
	width: 16px;
	height: 16px;	
}
.user-icon{	
	background: url(../img/travel/user_icon.png)no-repeat;
	background-position: center center;
}
.writing-icon{	
	background: url(../img/travel/writing_icon.png) no-repeat;
	background-position: center center;
}
.setting-icon{	
	background: url(../img/travel/setting_icon.png) no-repeat;
	background-position: center center;
}
.power-icon{
	background: url(../img/travel/power_icon.png) no-repeat;
	background-position: center center;
	
}
.pc-feedAd-container{
}
.pc-feedAd{
	font-size: 15px;
}
.pc-feedAd-card{}
.pc-feedAd-card-brand{
	display: inline-block;
	margin-bottom: 11px;
}
.pc-feedAd-card-brand-wrapper {
	
}
.pc-feedAd-card-brand-wrapper>img{
	height: 24px;
	width: 24px;
	border-radius: 1px;
	background: #fff;
	vertical-align: middle;
}
.pc-feedAd-card-brand-wrapper>span{
	margin-left: 12px;
    color: #444;
    font-size: 16px;
    line-height: 24px;
}
.pc-feedAd-card-brand--bold{
	font-weight: 600;
}
.pc-feedAd-card-brand-metaText{
	color: #8590a6;
    line-height: 24px;
}
.advert-signpc{
	float: right;
}
.advert-signpc-label{
	padding: 3px 6px;
    border-radius: 3px;
    color: #8590a6;
    background: #f6f6f6;
    font-size: 13px;
    cursor: pointer;
}
.down-icon{
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(../img/travel/arrow_down_icon.png) no-repeat;
	background-position: center center;
	background-size: contain;
	margin-left: 3px;
}
.advert-signpc-popup{}
.advert-signpc-popup--isHidden{
	display: none;
}
.advert-signpc-popup-arrow{}
.advert-signpc-popup-menu{}
.pc-feedAd-card-title{
	color: #1a1a1a;
    font-weight: 600;
    font-size: 18px;
}
.pc-feedAd-card-content{
}
.advertImg{
	display: inline-block;
}

.pc-feedAd-card-content-cover{
	width: 190px;
    height: 105px;
    border-radius: 4px;
    margin-top: 4px;
    overflow: hidden;
    vertical-align: top
}
.advertImg img{
	width: 100%;
	height: 100%;
}
.advertImg--isLoaded{}
.pc-feedAd-card-content-detail{
	display: inline-block;
	max-width: 410px;
}
.pc-feedAd-card-content-detail-cta {
    display: inline-block;
    padding: 0 3px;
    color: #8590a6;
    font-size: 14px;
}
/**
 * left
 */
.app-main{}
.story-wrapper{
	margin-top: 10px;
}
.story-mainColumn{
	width: 649px;
	background: #fff;
	margin-right:10px;
	box-shadow: 0 1px 3px rgba(26,26,26,0.1);
	float: left;
}
.card{
	box-sizing: border-box;
	border-bottom: 1px solid #f0f2f7;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(26,26,26,0.1);
}
.story-tabCard{
	height: 58px;
	line-height: 58px;
}
.story_tabs{
	border-bottom: 1px solid #f0f2f7;
}
.stroytabs_link{
 font-size: 16px;
 margin: 0 22px;	
}
.story_tabslink.is--active{
	color: #0084FF;
	font-weight: 500;
}
.story-content{
	
}
.listShortcut{}
.story-recommend{}
.storyItem{}

.storyItem-isRecommend{
	padding: 20px;
}
.contentItem_title{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
}
.rich-content{}

.richContent-inner{
	margin-top: 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.rich-content.is-collapsed .richContent-inner{
	max-height: 100px;
}
.richContent-cover{
	width: 190px;
	height: 105px;
	margin-right: 18px;
	margin-top: -2px;
	float: left;
	border-radius: 4px;
}
.richContent-cover-inner{
	
}
.richContent-cover-inner img{
	width: 100%;
	height: 100%;
}
.ztext{
	line-height: 1.6;
}
.contentItem-actions{
	padding: 10px 0;
	clear: both;
}
.item_action{
	
}
.contentItem-actions .popover{
	display: inline-block;
}

.voteButton {
    padding: 0 12px;
    line-height: 30px;
    color: #0084ff;
    background: rgba(0,132,255,0.1);
    border-color: transparent;
    
}
.contentItem-action{
	margin-left: 24px;
	font-size: 14px;
}
.button--withIcon.button--withLabel span{
	margin-right: 4px;
}
.comment-icon{
	background: url(../img/basic_message_txt.png)no-repeat;
	background-position: center center;
	vertical-align: middle;
	background-size: contain;
}
.share-icon{
	background: url(../img/travel/basic_share.png) no-repeat;
	background-position: center center;
	vertical-align: top;
	background-size: contain;
}
.collect-icon{
	background: url(../img/travel/basic_star.png) no-repeat;
	background-position: center center;
	vertical-align: top;
	background-size: contain;
}
.eye-icon{
	background: url(../img/travel/basic_eye.png) no-repeat;
	background-position: center center;
	vertical-align: middle;
	background-size: contain;
}
.more-icon{
	background: url(../img/travel/more_icon.png) no-repeat;
	background-position: center center;
	vertical-align: top;
}


/**
 * left  创作者中心
 */
.globalSideBar{
	margin-left: 659px;
}
.creatorEntrance{}
.creatorEntrance-link{
	display: block;
	position: relative;
}
.creatorEntrance-Link--smallIcon{
	padding: 0 17px;
	
}
.creatorEntrance-Link--smallIcon .creatorEntrancePage-hint--smallIcon{
	height: 52px;
	line-height: 52px;
	width: 100%;
	padding: 0;
	margin: 0 16px;
}
.create-icon{
	display: inline-block;
	width: 18px;
	height:18px;
	background: url(../img/travel/create_icon.png) no-repeat;
	background-position: center center;
	background-size: contain;
	vertical-align: middle;
	margin-right: 4px;
}
.creatorEntrance-text{
	margin-left: 4px;
}
.creatorEntrance-indexPageTitle{
	font-size: 14px;
    margin-left: 3px;
    color: #8590a6;
}
.arrowRight{
	
}
.arrowright-icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/travel/arrows_right_double_icon.png) no-repeat;
	background-position: center center;
	position: absolute;
	right: 16px;
	top: 14px; 
}
.profileSideCreator-analytics{
	border-top: 1px solid #f6f6f6;
	padding: 20px 0;
	width: 100%;
}
.profileSideCreator-readCountItem{
	float: left;
	width: 50%;
	text-align: center;
	border-right: 1px solid #ebebeb;
}
.profileSideCreator-readCountTitle{
	color: #8590a6;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}
.profileSideCreator-readCountNumber{
	font-size: 18px ;
	color: #444;
	line-height: 28px;
	font-weight: 600;
	text-align: center;
	
}
.css_count{
	text-align: center;
}
.css_before{
    color: rgb(99, 133, 166);
	display: inline-block;
}
.css_before_count{
	display: inline-block;
}

/**
 * left 关注微信公众号
 */
.wechat-follow-wrap{
	padding: 20px;
	margin-top: 10px;
}
.wechat-follow-title{
	border-bottom: 2px solid #dcdcdc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.wechat-follow-title span{
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
	
}
.wechat-icon{
	vertical-align: middle;
}
.wechat-follow-con{
	text-indent: 2em;
}
.wechat-scan{
	float: left;
}
/**
 * left 为你推荐
 */
.god-recommend{
	margin-top:10px ;
}
.god-recommend-wrap{
	padding: 16px;
	
}
.god-recommend-tit{
	font-size: 16px;
    color: #4a4a4a;
    height: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    position: relative;
}
.god-recommend-tit .line{
	display: block;
    float: left;
    width: 3px;
    height: 16px;
    background: #0084ff;
    overflow: hidden;
    position: absolute;
    top: 5px;
}
.god-recommend-tit .txt{
	display: block;
    float: left;
    font-size: 16px;
    color: #2c3033;
    margin-left: 5px;
}
.god-introuduce{
	font-size: 12px;
    color: #999;
    letter-spacing: 0;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.feed-god{}
.god-recommend-items{}
.god-recommend-item{
	clear: both;
}
.img-box{
	float: left;
	margin-right: 10px;
}
.img-box img{
	border-radius: 3px;
}
.god-content-box{}
.god-content-box .god-recommend-title a{
	max-width: 200px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.god-recommend-title{}


/**
 * 详情 右侧导航
 */
.elevator{
	left: 50%;
	margin-left: 520px;
}
.elevator_fix{
	position: fixed;
	top: 62px;
}
.elevator_list{
	
}
.elevator_item{}
.elevator_lk{
	position: relative;
	display: block;
	width: 38px;
    height: 38px;
    line-height: 19px;
    font-size: 14px;
    color: #333;
    padding: 10px;
    text-align: center;
    background: #fff;
}
.elevator_lk:hover{
	color: #fff;
}
.elevator_lk:hover .elevator_lk_bg{
	background: #0084ff;
}
.elevator_lk_cur{
	color: #0084ff;
}
.elevator_lk:after{
	position: absolute;
    display: inline-block;
    content: " ";
    width: 40px;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -20px;
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
}

.elevator_lk_bg {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 2;
    background: transparent; 
    -webkit-transition: background .2s ease; 
    transition: background .2s ease;
}
.elevator_lk_txt{
	position: relative;
	z-index: 3;
}

/**
 * detail.html left 点赞分享评论
 */
.functional-area-left{
	width: 48px;
	position: fixed;
	top: 95px;
	margin-left: -68px;
}
.text-center{
	text-align: center;
}
.btn-group{
	
}
.functional-area-left .func-btn{
	margin-bottom: 0.5rem;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 1rem;
    border-color: transparent;
    background-color: #fff;
}

.functional-area-left .func-btn.mainlikeButton{
	position: relative;
	height: 48px;
	width: 48px;
	color: #fff;
    border-color: #0084FF;
    border:1px solid #0084FF;
}
.btn-outline-primary{
	color: #0084FF;
	border: 1px solid #0084FF;
	padding: 0.375rem 0.75rem;
}
.btn-outline-primary:hover{
	color: #fff;
	background: #0084FF;
	border: 1px solid #0084FF;
	padding: 0.375rem 0.75rem;
}
.functional-area-left .func-btn .mainLikeNum{
	display: block;
	position: absolute;
	top: -30px;
	left: 0;
	width: 48px;
	color: #8590a6;
	font-weight: bold;
	
	
}
.svg-v{
	vertical-align: middle;
}
.btn-outline-primary:hover{
	background:#0099FF;	
	/*box-shadow: 0 2px 8px #0084ff;*/
}
.btn-outline-secondary{
	color: #6c757d;
}
.btn-outline-secondary:hover{
	color: #fff;
	background: #6c757d;
	/*box-shadow: 0 2px 8px #0084ff;*/
}
/**
 * detail.html 左侧内容
 */
.article-show{
	padding: 20px;
}
.article-show h2{
	font-size: 1.75rem;
    margin: 2.5rem 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px double rgba(0,0,0,0.1);
}
.article-show h3{
	font-size: 1.25rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}
.article-show p{
	text-indent: 2em;
	line-height: 1.8;
}
.article-plan-title{
	color: #212529!important;
	font-weight: bold;
	line-height: 1.2;
	font-size: 2rem;
	margin-bottom: 10px;
}
.itrip-article_tags{
	margin-bottom: 20px;
}
.m-n1{
	display: inline-block;
}
.m-1{}
.badge-tag{
	display: inline-block;
	border-radius: 3px;
	padding: 5px 5px;
	color: #0084ff;
	background: #D3E9F8;
	
	
}
.font-size-14{
	display: inline-block
}
.image-wrapper{}
.img-wrap{}
.img-wrap .titleImage{
	border-radius: 3px;
}


.itrip-article_metas{
	margin-top: 50px;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.itrip-article_metas .text-secondary{
	text-align: center;
	padding: 10px 0;
	color:#6c757d!important
}
.split-dot:before {
    content: " \2022 ";
    color: #ced4da;
}
.btn-outline-secondary{
	border: 1px solid #6c757d;
	border-radius: 3px;
	padding: 0.375rem 0.75rem;
}
.btn-outline-primary.btn-r{
	border-radius: 3px;
}
.transportation-icon{
	vertical-align: middle;
	margin-left: 5px;
}

/**
 * 评论区
 */
.comment-container{
	height: 100%;
}

.comments{}
.comments-wrapper{
	padding: 0 20px;
	margin-bottom: 15px;
}

.topbar{
	border-bottom: 1px solid #f6f6f6;
}
.commentTopbar{
	height: 50px;
	line-height: 50px;
}
.comment-count{
	display: inline-block;
	color: #1a1a1a;
	font-size: 15px;
	font-weight: 600;
	float: left;
	
}
.comment-order{
	display: inline-block;
	float: right;
}
.comment-items{
}
.nestComment{
	position: relative;
}

.nestComment:not(:last-child):after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 20px;
    border-bottom: 1px solid #DCDCDC;
    content: "";
}
.nestComment-rootComment{
	position: relative;
}
.nestComment-rootComment:after{
	 position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin-right: 0;
    margin-left: 56px;
    border-bottom: 1px solid #F6F6F6;
    content: "";
}
.commentItem{
	padding: 12px 20px 10px;
    font-size: 15px;
}

.commentItem-meta{}
.comment-avater{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-right: 4px;
	background: #F6F6F6;
}
.commentItem-meta .user-nickName{
	font-weight: 500;
	text-align: center;
}
.commentItem-meta .commentItem_time{
	float: right;
}
.commentItem-metaSibling{
	padding-left: 33px;
}
.commentrichText{}
.commentItem-content{
	margin-bottom: 6px;
    line-height: 25px;
}
.commentRichText{}
.nestComment-child{
	position: relative;
	padding-left: 33px;
	
}


.nestComment .nestComment-child:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin-right: 0;
    margin-left: 56px;
    border-bottom: 1px solid #f6f6f6;
    content: "";
}

.pagination{
	
	border-top: 1px solid #ebebeb;
	padding: 16px 20px;
	text-align: center;
	margin: 0 auto;
}
.pagination-button{
	color: #1a1a1a;
	padding: 0 15px;
}
.pagination-button.current{
	color: #8590a6;
}



.commentItem-meta{}
.comments-input-wrapper{
	margin-top: 12px;
}
.comments-input-wrap{
	padding: 12px 20px;
	border-top: 1px solid #ebebeb;
}
.commentEditor-inputWrap{}
.commentEditor-inputWrap .comment-content{
	display: block;
	width: 100%;
	padding: 7px 8px;
	background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    resize: none;
    height: 60px;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
}
.commentEditor-inputWrap--active{
	
}
.right-box{
	float: right;
}
.commentEditor-inputWrap .tool{
	margin-top: 10px;
	padding-bottom: 10px;
}
.right-box .tip_comment{
	font-size: 12px;
    color: #999;
    line-height: 20px;
}
.commentButton{
	color: #fff;
	margin-left: 16px;
	height: 30px;
    line-height: 28px;
    min-width: 72px;
    border-color: #0084FF;
    background: #0084FF;
    border-radius: 4px;
}
.commentButton:hover{
	 background: #0099FF;
}
