.col-container{
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(26,26,26,0.1);

}

.specialListPage{
	height: 100px;
	line-height: 100px;
}
.specialListPage-title{
	margin-left: 12px;
    font-size: 25px;
    font-weight: 600;
}
.specialListPage-count{
	margin-left: 24px;
    color: #8590a6;
    font-size: 15px;
}
