a, address, b, big, blockquote, body, center, 
cite, code, dd, del, div, dl, dt, em, fieldset, 
font, form, h1, h2, h3, h4, h5, h6, html, i, 
iframe, img, ins, label, legend, li, ol, p, pre,
small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
body{
	font-size: 12px;
	color:#666;
}
ol, ul {
    list-style: none;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #10B2FA;
    text-decoration: underline;
}
.w {
	width: 990px;
	margin: 0 auto
}
.logo {
    position: relative;
    width: 300px;
    margin: 10px 0;
    height: 60px;
    float: left;
}
.logo .welcome{
	height: 60px;
	line-height: 60px;
	width: 110px;
	font-size: 26px;
	font-weight: 500;
	position: absolute;
    right: 0;
    bottom: 0;
}
.login-wrap {
    position: relative;
    height: 475px;
    margin: 10px 0 20px;
    z-index: 5;
}
.content{
	clear: both;
}
.content .login-wrap {
    margin-top: 0;
}
.login-form {
    position: relative;
    z-index: 4;
    background: #fff;
    overflow: visible;
    width: 346px;
}
.login-wrap .login-form {
    float: right;
    top: 10px;
}
.content .tips-wrapper {
    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.content .tips-wrapper .cont-wrapper {
    display: inline-block;
    *display: inline;
    width: 90%;
}
.login-form .login-tab {
    height: 54px;
    font-size: 18px;
    font-family: inherit;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;
}
.login-form .login-tab-l, 
.login-form .login-tab-r {
    width: 173px;
}
.login-form .login-tab-r {
    right: 0;
}
.login-form .login-tab-c{
	width: 100%;
}
.login-form .login-tab a {
    width: 99%;
    height: 18px;
    position: absolute;
    left: 0;
    top: 18px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.login-form .login-tab a.checked{
	font-weight: bold;
	color: #0084FF;
}
.login-form .login-box {
    width: 306px;
    padding: 20px;
    visibility: hidden;
}
.login-form .login-box .mt:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.login-form .login-box .mt {
    display: inline-block;
    display: block;
    width: 306px;
    overflow: visible;
    height: 27px;
}
.login-form .login-box .tab-h {
    height: 35px;
}
.login-form .msg-wrap {
    min-height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto!important;
}

.login-form .msg-error {
    position: relative;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto;
}
.login-form .msg-error b {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../../img/account/pwd-icons-new.png) -104px -49px no-repeat;
}
.form .item {
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}
.form .item .login-label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
}
.form .item-fore1, .form .item-fore2 {
    border: 1px solid #bdbdbd;
    height: 38px;
    width: 304px;
}
.form .item-fore1 {
    z-index: 6;
}
.form .label, 
.form button,
.form input, 
.form label,
.form select, 
.form textarea {
    float: left;
    font-size: 12px;
}
.form .item .login-label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(../../img/account/pwd-icons-new.png) no-repeat;
}
.form .item .pwd-label {
    background-position: -48px 0;
}
.form .itxt {
    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 50px;
    width: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: inherit;
    outline: none;
}
.login-form .login-box .safe {
    position: relative;
    color: #666;
    
}
.login-form .login-box .safe span {
    margin-right: 15px;
    *float: left;
}
.login-form .login-box .safe .forget-pw-safe {
    position: absolute;   
    right: 0;
    top: 0;
    margin: 0;
}
.form .item-fore3 {
    z-index: 5;
    margin-bottom: 13px;
}
.form #o-authcode.item {
    border: 0;
}
.form .itxt02 {
    padding: 10px 5px;
    width: 150px;
    text-align: center;
}
.form .verify-code {
    cursor: pointer;
    width: 90px;
    height: 33px;
    vertical-align: middle;
}
.form .item-vcode .itxt02, .form .item-vcode .verify-code {
    float: left;
}
.form #o-authcode.item .itxt {
    border: 1px solid #bdbdbd;
    font-size: 14px;
    padding: 7px 5px;
    vertical-align: middle;
    margin-right: 10px;
}
.form .item-vcode:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.form .item-vcode a {
    display: inline-block;
    width: 38px;
    float: right;
}
.form .item-fore5 {
    margin-bottom: 10px;
}
.login-form .login-box .login-btn {
    border: 1px solid #0084ff;
    margin: 0 auto;
    height: 32px;
    width: 99%;
    background: #0084FF;
    position: relative;
}
.btn-img, .button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
}
.login-form .login-box .login-btn .btn-img {
    border: 1px solid #0084ff;
    display: block;
    width: 302px;
    background: #0084ff;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    outline: none;
}
.login-form .login-box .login-btn .btn-img:hover {
    text-decoration: none;
}
.hide {
    display: none;
}
.coagent {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-top: 1px solid #f4f4f4;
    height: auto;
    background-color: #fcfcfc;
}
.coagent ul {
    display: block;
}
.coagent li {
    float: left;
}
.coagent li a.pdl {
    display: inline-block;
    position: relative;
    padding-left: 24px;
}
.coagent li a.pdl b {
    width: 19px;
    height: 18px;
    display: block;
    background: url(../../img/account/QQ-wechat.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 0;
    top: 16px;
}
.coagent li a.pdl b.wechat-icon {
    background-position: -20px 0;
}
.coagent li .line {
    color: #ccc;
    padding: 0 10px;
}
.coagent li.extra-r {
    float: right;
}
.coagent .regist-link b {
    display: inline-block;  
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../../img/account/pwd-icons-new.png) -104px -75px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}





.login-wrap .login-banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 475px;
    background: #1169EE;
}
.login-wrap .i-inner {
    position: relative;
    z-index: 3;
    height: 475px;
}
#footer_2020{
	padding-bottom: 30px;
    text-align: center;
}
#footer_2020 .links a{
	margin: 0 10px;
}
#footer_2020 .copyright {
    margin: 10px 0;
}
